/* ---------------------------------*/
/* BASIC SETUP */
/*----------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ---------------------------------*/
/* Reusable Components */
/*----------------------------------*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* Headings */
h1 {
  color: #fff;
  font-size: 220%;
  font-weight: 300;
  text-transform: uppercase;
}

/* Buttons */
.btn:visited,
.btn:link {
  display: inline-block;
  background-color: red;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  border: 1px solid red;
  border-radius: 200px;
}
/* ---------------------------------*/
/* Header */
/*----------------------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.342)),
    url(./images/pexels-li-sun-2294361.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Main-Nav */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 20px;
}

.logo {
  margin-top: 55px;
}
